@import "tailwindcss";

html {
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

body {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  background-color: #d0f8ff;
}

/*  The Main Page */
.gallery-container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-left: 160px;
  width: max-content;
  z-index: 0;
}

.image-grid {
  display: flex;
  align-items: center;
  gap: 2rem;
}
