---
import { Image } from 'astro:assets';
import InstaLogo from '../images/InstaLogo.png';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout />
<Header/>
<a href="mailto:Zyoshihara@gmail.com" style="display:contents;">
  <div class="contact">

    <div class="contact-text">
      <h1>
        <strong>Work</strong>
        <span class="sub">with me</span>
      </h1>
    </div>

    <div class="flowing-wrap">
      <div class="flowing-band">
        <div class="flowing-text">
          
        </div>
      </div>
    </div>
  </div>
</a>

<a href="https://www.instagram.com/zenibean/" target="_blank" class="insta-link">
  <Image src={InstaLogo} alt="Instagram" width={40} height={40} />
</a>