---
import { Image } from 'astro:assets';
import InstaLogo from '../images/InstaLogo.png';
---
<div class="text-box">
    <div class="send-box">
        <a href="mailto://Zyoshihara@gmail.com" target="_blank">Send!</a>
    </div>
</div>
<a href="https://www.instagram.com/zenibean/" target="_blank">
    <Image src={InstaLogo} alt="a"/>
</a>