---
import Meta from "../components/Meta.astro"
import Header from "../components/Header.astro"
const photos = [
	{id: 1, image: "src/images/Field.jpg", alt: "An image of a girl in a field" },
	{id: 2, image: "src/images/SmellingFlower.jpg", alt: "An image of a girl smelling a flower" },
	{id: 3, image: "src/images/TreeSmile.jpg", alt: "An image of a girl next to a tree smiling" },
	{id: 4, image: "", alt: "" },
	{id: 5, image: "", alt: "" },
]

const boxes = [
	{id: 1},
	{id: 2},
	{id: 3}
]

---

<style>
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
</style>

<Meta>
<Header/>
<div>
	<div class="image-grid">
		{boxes.map((box) => {
  		const photo = photos.find((photo) => photo.id === box.id);
		return (
		
		<article>
      		<img
        	src={photo?.image}
        	alt=""
     		 />
    	</article>
		);
		})}
	</div>
</div>