


<style>
.middle-bar{
    text-align: center;
    transform: rotate(90deg);
    transform-origin: center;
    width: 80px;
    margin-left: 450px;
}

.small-image img{
    height: 50px;
    width: 50px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

nav a {
    color: black;
    text-decoration: none;

    display: inline-block;
    padding: 0 1px;
}

nav a::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: black;
    margin-top: 6px;
}

</style>



<header class="middle-bar">
    <div class="small-image">
        <a href="/index">
            <img src="src/images/TreeSmile.jpg" alt="">
        </a>
    </div>

    <nav class="boxes-stuff">
        <a href="/albums">Albums</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>