---
import { Image } from 'astro:assets';
import Logo from '../images/Logo.png';
import ThemeIcon from './ThemeIcon.astro';
import Menu from './Menu.astro'
---

<style>

</style>

<nav class='middle-bar'>
  <div class='small-image'>
    <a href='/'>
      <Image src={Logo} alt={'Zenith.inc'} height={200} width={100}/>
    </a>
  </div>
  <Menu />
  <ThemeIcon />
</nav>

