---
import Layout from "../layouts/Layout.astro"
---

<Layout />
<ul class="page-buttons">
    <li class="page-link">
       <a id='dropdownButton' class='dropbtn'> Albums </a>
        <ul id='dropdownContent' class='dropdown-content'>
            <h1 class='header'>Film</h1>
            <div class='header-distance'>
            </div>
            <li class='button-distance'>
              <a href=''>Color</a>
            </li>
            <li class='button-distance'>
              <a href=''>B&W</a>
            </li>
            <h1 class='header'>Digital</h1>
            <li class='button-distance'>
              <a href=''>Nature</a>
            </li>
            <li class='button-distance'>
              <a href=''>Urban Landscape</a>
            </li>
            <div class='dropdown-end'>
            </div>
        </ul>
    </li>
    <li class="page-link">
      <a href='/about'>About</a>
    </li>
    <li class="page-link">
      <a href='/contact'>Contact</a>
    </li>
</ul>

